/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(207, 184, 184);
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el contenido principal */
main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilos para los encabezados */
h1, h2 {
    color: #333;
}

/* Estilos para los formularios */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: transparent;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Se corrige el borde sombreado de cada imput al posicionar el cursor sobre ellos */
input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #000; 
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Estilos para el valor del seguro */
#valor-seguro {
    font-weight: bold;
    color: #007bff;
}

.formulario-contacto {

}